.ElasticNewsCard {
  @apply rounded-lg  bg-white min-h-[350px] shadow-lg  flex flex-col  transition-all duration-300;
  @apply hover:-translate-y-2 hover:bg-black hover:text-white;
  // The one with back image
  .ElasticNewsCard_Img {
    @apply rounded-md bg-primary-black bg-cover bg-no-repeat bg-center cursor-pointer;
    min-height: calc(100% - 42px);
    height: calc(100% - 42px);

    // the headline
    .ElasticNewsCard_Cont {
      min-height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
      @apply flex flex-col justify-between;
      @apply rounded-md font-medium p-4 transition-all duration-75;
      @apply hover:underline underline-offset-[5px];
    }

    // icon
    .ElasticNewsCard_Ico {
      @apply flex justify-end;
    }
  }
}
